.Body {
  background: url("/Background.jpg") no-repeat ;
  width: 100vw; 
  height: 100vh;
  margin-right: 100;
  display: flex;
  justify-content: center;
  align-items: center;

}


.search-form input[type="text"],
.search-form input[type="date"],
.search-form select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(100% - 22px); /* Compense le padding et border */
}

.search-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: #0056b3;
}
